snippet vb= "<%= %> " 
<%= $1 %>
endsnippet
snippet vb "<%= %> " 
<% $1 %>
endsnippet

snippet js "include js part <%@language=javascript%>"  
<script type ="text/javascript">
		$1
<script>
endsnippet
snippet set "Set var" !b
Set $1
endsnippet

snippet tp "p tag" !b
<p> $1 </p>
endsnippet
